* text=auto
*.md text eol=lf
*.gitignore text eol=lf
*.gitattributes text eol=lf
*.pdf binary
*.doc binary
*.docx binary
*.pkt binary
*.pka binary
*.pkz binary
*.pcap binary
*.pcapng binary
*.png binary
*.jpg binary
*.jpeg binary
