# Sistema
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# Editores
.vscode/
.idea/
*.swp
*.swo
*~

# Temporal y copias
*.tmp
*.bak
*.old
_*.txt

# Word / Office
~$*
*.ldb
*.lock

# Packet Tracer (backups automáticos)
*.pkt.bak
*.pka.bak
*.pkz.bak

# Python
__pycache__/
*.pyc

# VMs e ISOs (demasiado grandes para GitHub)
*.iso
*.img
*.ova
*.ovf
*.vmdk
*.vdi
*.qcow2
*.vhd
*.vhdx

# Logs
*.log
